[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Babel = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.12"
